body {
  /*padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

header{
  max-width: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  background-color:#FFEC33;

}

.row .col-12{
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px auto;
}

.col-4 .col-md-2 .logo{
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px auto;
}

.logo{
  background-image: url("../images/logo-mercado-liebre.svg");
  background-repeat: no-repeat;
}

.buscar{
  padding-right: 0;
}

.header-top{
  justify-content: space-around;
  padding: 20px 0 0 0;
  margin-left: 0;
}

.header-medium{
  justify-content: space-around;
  padding-bottom: 15px;
}

.header-nav{
  background-color: #03264C;
}

.navbar-toggler {
  background-color: #03264C;
}

.navbar-nav {
  text-align: center;
}

.nav-item {
  border-top: 1px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.input-group-text {
  background-color: white;
}

.banner img{
  padding: 0% 0%;
}

section{
  max-width: 420px;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}


h3{
  font-size: 24px;
  width: 100%;
  color: #666666;
}

h4{
font-size: 24px;

}

p{
font-size: 15px;
}

.col-md-6 {
  padding-right: 0;
  padding-left: 15;
}

.col-xl-3{
  padding-right: 0;
  padding-left: 0;
}

.card{
  margin: 15px;
  border-radius: .50rem;
  padding-right: 0;
  padding-left: 0;
}

.card img{
  border-bottom: solid 1px #ebebeb;
  border-radius: .50rem;
}

.card-body{
  padding: 0 25px 5px 25px;
}

.precio{
  padding:10px;
  font-size: 24px;
}

.descuento{
  padding:10px;
  font-size: 20px;
  color: #39b54a;
}

.card-producto i{
  color: #39b54a;
  font-size: 18px;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  bottom: 43px;
  right: 6px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: 300ms;*/
}

.caja .frase {
  font-size: 14px;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

footer{
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px

}

footer .card{
  padding:0px;
  margin: 15px;
  justify-content: center;
  border: none;
  flex-direction: row;
}

footer .card-body{
  color: #666666;
  justify-content: center;
}

.icono{
  color:#1259c3;
  font-size: 20px;
}

h5{
  text-align: center;
}

.copyright{
  margin-top: 30px;
  justify-content: left;
  font-size: 10px;
}

@media (min-width: 1200px) {
  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .main-navbar{
    width: 100%;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--light-blue);
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .header-nav {
    background-color:transparent;
  }

  .nav-item {
    border-top: none;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #000000;
  }

  .caja:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .caja:hover .card-producto i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
    bottom: 93px;
  }
  .caja:hover .card-producto p{
    height: 40px;
    margin-top: 10px;
  }
  .caja-producto{
    height: 400px;
  }

}
